# Ignore all application.properties files
**/application-docker.properties

# Docker files
docker-compose.yml

# Maven build directories
**/target/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IntelliJ / Eclipse
.idea/
*.iml
*.class
.project
.classpath
.settings/

# Node (for Angular frontend)
**/node_modules/
dist/

